<html>
    <p>Hey {{name}} '{{username}}' {{surname}}</p>
    <p>You have just created a meeting, AMAZING!</p>
    <p>Your meeting is set for {{meeting_date}} ({{meeting_timezone}})</p>
    <br>
    <p><b>Please note upon someone registering for the meeting, you will not be allowed to edit the details of this meeting.</b></p>
    <br>
    <p>Here is the link to start the Zoom meeting</p>
    <a href="{{meeting-url}}">{{meeting-url}}</a>
    <a href="{{ext-meeting-url}}">{{ext-meeting-url}}</a>
</html>