<input
    #file
    style="display:none;"
    hidden
    type="file"
    [formControl]="formGroup.controls.videoCtrl"
    (change)="onFileChanged($event)" />
<div
    fxLayout="column" 
    fxLayout.lt-sm="column" 
    fxLayoutGap="10px" 
    fxLayoutAlign="space-around stretch">
    <div
      fxLayout="row nowrap"
      fxLayoutGap="10px" 
      fxLayoutAlign="start center">
      <button 
          fxFlex.lt-sm="1 1 115px"
          fxFlex.gt-md="1 1 115px"
          type="button"
          style="width:115px;"
          mat-raised-button 
          (click)="file.click()">Select Video</button>
      <label
          fxFlex.lt-sm="1 1 calc(100% - 115px)"
          fxFlex.gt-md="1 1 calc(100% - 115px)">{{fileName}}</label>
    </div>
    <div
        fxLayout="row nowrap"
        fxLayoutGap="10px" 
        fxLayoutAlign="start center">
        <mat-error *ngIf="formGroup.get('videoCtrl').hasError('required')">{{requiredError}}</mat-error>
    </div>
</div>