<mat-dialog-content *ngIf="isDialog">
    <ng-container *ngTemplateOutlet="detailViewTemplate">
    </ng-container>
</mat-dialog-content>

<ng-container *ngIf="!isDialog">
    <ng-container *ngTemplateOutlet="detailViewTemplate">
    </ng-container>
</ng-container>

<ng-template #detailViewTemplate>

    <!--app-back-button></app-back-button-->

    <form [formGroup]="blogPostGroup">
        <div
            fxLayout="column" 
            fxLayout.lt-sm="column" 
            fxLayoutGap="10px" 
            fxLayoutAlign="space-around stretch">
            <div
                fxLayout="row"
                fxLayoutAlign="center center">
                <label 
                    fxFlex.lt-sm="1 1 100%"
                    fxFlex.gt-md="1 1 50%"
                    style="text-align:center;font-size:xx-large;"
                    *ngIf="view">
                    {{model?.title}}
                </label>
                <mat-form-field
                    fxFlex.lt-sm="1 1 100%"
                    fxFlex.gt-md="1 1 50%"
                    *ngIf="edit">
                    <mat-label>Title</mat-label>
                    <input 
                        autoSizeInput
                        [setParentWidth]="true"
                        [minWidth]="100"
                        #title
                        style="font-size:xx-large;"
                        maxlength="50"
                        matInput 
                        placeholder="Title" 
                        formControlName="titleCtrl" 
                        required 
                        [(ngModel)]="model.title"
                        [ngModelOptions]="{standalone: true}">
                    <mat-hint align="end">{{title.value.length}} / 50</mat-hint>
                    <mat-error *ngIf="blogPostGroup.get('titleCtrl').hasError('required')">Title required</mat-error>
                    <mat-error *ngIf="blogPostGroup.get('titleCtrl').hasError('maxlength')">Title cannot exceed 50 characters</mat-error>
                </mat-form-field>
            </div>
            <div 
                fxLayout="row"
                fxLayoutAlign="center center">
                <label 
                    fxFlex.lt-sm="1 1 100%"
                    fxFlex.gt-md="1 1 50%"
                    style="text-align:center;font-size:25px;"
                    *ngIf="view">
                    {{model?.creationUser?.name}} '{{model?.creationUser?.username}}' {{model?.creationUser?.surname}}
                </label>
            </div>
            <div 
                fxLayout="row"
                fxLayoutAlign="center center">
                <app-img-select
                    fxFlex.lt-sm="1 1 100%"
                    fxFlex.gt-md="1 1 50%"
                    *ngIf="edit"
                    [imgPreviewUrl]="model?.img?.url"
                    (fileChanged)="onFileChanged($event)"
                    [requiredError]="'Blog post cover image required'">
                </app-img-select>
                <img 
                    fxFlex.lt-sm="1 1 100%"
                    fxFlex.gt-md="1 1 50%"
                    *ngIf="view"
                    src="{{model?.img?.url}}">
            </div>
            <div 
                fxLayout="row"
                fxLayoutAlign="center center">
                <h3
                    fxFlex.lt-sm="1 1 100%"
                    fxFlex.gt-md="1 1 50%"
                    *ngIf="view">
                    {{model?.content}}
                </h3>
                <mat-form-field
                    fxFlex.lt-sm="1 1 100%"
                    fxFlex.gt-md="1 1 50%"
                    *ngIf="edit">
                    <mat-label>Content</mat-label>
                    <textarea 
                        #content
                        rows="3"
                        matInput 
                        placeholder="Content" 
                        formControlName="contentCtrl" 
                        required 
                        maxlength="500"
                        [(ngModel)]="model.content"
                        [ngModelOptions]="{standalone: true}">
                        </textarea>
                    <mat-hint align="end">{{content.value.length}} / 500</mat-hint>
                    <mat-error *ngIf="blogPostGroup.get('contentCtrl').hasError('required')">Content required</mat-error>
                    <mat-error *ngIf="blogPostGroup.get('contentCtrl').hasError('maxlength')">Content cannot exceed 500 characters</mat-error>
                </mat-form-field>
            </div>
            <div 
                fxLayout="row"
                fxLayoutAlign="center center">
                <app-focus-list 
                    fxFlex.lt-sm="1 1 100%"
                    fxFlex.gt-md="1 1 50%"
                    [locked]="view"
                    [selectedItems]="selectedFocusList"
                    (updateSelectedItems)="onFocusListUpdate($event)" 
                    [inputPlaceholder]="'Blog Focus *'">
                </app-focus-list>
            </div>
        </div>
        <div *ngIf="isModelValid && edit">
            <app-persist-fab
                (clicked)="onPersistClick($event)">
            </app-persist-fab>
        </div>
        <button 
            (click)="onEditClick($event)"
            *ngIf="view && canEdit"
            mat-fab 
            type="button"
            color="accent" 
            class="edit-btn">
            <mat-icon>edit</mat-icon>
        </button>
    </form>
</ng-template>
