<mat-nav-list>
    <a mat-list-item routerLink="/videos" (click)="onSidenavClose()">
        <span class="nav-caption">videos</span>
    </a>
    <a mat-list-item routerLink="/meetings" (click)="onSidenavClose()">
        <span class="nav-caption">meetings</span>
    </a>
    <a mat-list-item routerLink="/blog-posts" (click)="onSidenavClose()">
        <span class="nav-caption">blog-posts</span>
    </a>
    <a mat-list-item routerLink="/hosts" (click)="onSidenavClose()">
        <span class="nav-caption">hosts</span>
    </a>
</mat-nav-list>