<div
    fxLayout="column" 
    fxLayout.lt-sm="column" 
    fxLayoutGap="10px" 
    fxLayoutAlign="space-around stretch">
    <div 
        fxLayoutAlign="center">
        <label 
            style="text-align:center;font-size:xx-large;">
            The art of building an application... 
        </label>
    </div>

    <div
        fxLayoutAlign="center">
        <label
            style="text-align:center;font-size:xx-large;">
            2021-06-21 18:00 
        </label>
    </div>

    <div
        fxLayoutAlign="center">
        <h3>Simon Strathern</h3>
    </div>
    <div
        fxLayoutAlign="center">
        <h3>7.5 *</h3>
    </div>
    <div
        fxLayoutAlign="center">
        <h3>There is something interesting about describing...</h3>
    </div>
</div>