<div class="content-cont"> 
    <mat-card class="panel-card">
        <mat-card-header>
            <div 
                (mouseover)="onMouseOverProfile()"
                (mouseout)="onMouseOutProfile()"
                mat-card-avatar 
                style="background-image: url({{blog.creationUserThumbnailUrl}});background-size: cover;">
            </div>
            <mat-card-title
                (mouseover)="onMouseOver()" 
                (mouseout)="onMouseOut()"
                [mat-dialog-close]="true"
                class="pointer-cursor"
                routerLink='/blog-post/{{blog.uniqueId}}'>
                {{blog.title}}
            </mat-card-title>
            <mat-card-subtitle 
                (mouseover)="onMouseOverProfile()"
                (mouseout)="onMouseOutProfile()"
                [mat-dialog-close]="true"
                class="pointer-cursor" 
                routerLink='/profile/{{blog.creationUserUniqueId}}'>
                {{blog.creationUserName}} '{{blog.creationUserUsername}}' {{blog.creationUserSurname}}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-progress-bar class="summary-progress-bar" *ngIf="showProgressBar" mode="indeterminate"></mat-progress-bar>
        <img 
            class="pointer-cursor summary-img"
            (mouseover)="onMouseOver()" 
            (mouseout)="onMouseOut()"
            mat-card-image
            src="{{blog.thumbnailUrl}}" 
            alt="{{blog.title}}">
        <mat-card-content>
            <label style="font-size:medium;">{{blog.description}}</label><br>
        </mat-card-content>
        <mat-card-actions>
        <button mat-icon-button type="button" color="accent" (click)="openDetailDialog(blog.uniqueId)">
            <mat-icon>open_in_new</mat-icon>
        </button>
        </mat-card-actions>
    </mat-card>
</div>
